{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Analysis - Intensity Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="{% url 'main:index' %}"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item">
                            <a href="{% url 'main:index' %}" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item active has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Filter</span>
                            </a>
                            <ul class="submenu active">
                                <li class="submenu-item active">
                                    <a href="{% url 'main:component_Year' %}">End year / Start Year</a>
                                </li>
                            
                               
                                <li class="submenu-item ">
                                    <a href="{% url 'main:component_Country' %}"> Country / topic / sector</a>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Deep Analysis</span>
                            </a>
                            <ul class="submenu active">
                               
                                <li class="submenu-item ">
                                    <a href="{% url 'main:component_Intensity' %}">Intensity</a>
                                </li>
                              
                                <li class="submenu-item " >
                                    <a href="{% url 'main:component_Region' %}">Region</a>
                                </li>
                            
                            </ul>
                        </li>   

                     

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>End year / Start Year</h3>
                           
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">End year & Start Year</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>End Year / Start_years with Intensity</h4>
                                    <form id="filter-form" data-target="plotly-chart">
                                        <label for="filter-end-year">1] End Year:</label>
                                        <select name="filter-end-year" id="filter-end-year">
                                            <option value="">All</option>
                                            {% for year in end_years %}
                                            <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        <label for="filter-intensity">Intensity:</label>
                                        <select name="filter-intensity" id="filter-intensity">
                                            <option value="">All</option>
                                            {% for intensity in intensities %}
                                            <option value="{{ intensity }}">{{ intensity }}</option>
                                            {% endfor %}
                                        </select>
                                    
                                        <button type="submit" id="submit1">Apply Filter</button>
                                   
                                        <!-- ... your form inputs ... -->
                                        
                                    </form>
                                    <form id="filter-form2" data-target="plotly-chart2" style="margin-top: 10px;">
                                        
                                        <label for="filter-start-year2">2] Start Year:</label>
                                        <select name="filter-start-year2" id="filter-start-year2">
                                            <option value="">All</option>
                                            {% for year in start_years %}
                                            <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        <label for="filter-intensity2">Intensity:</label>
                                        <select name="filter-intensity2" id="filter-intensity2">
                                            <option value="">All</option>
                                            {% for intensity in intensities %}
                                            <option value="{{ intensity }}">{{ intensity }}</option>
                                            {% endfor %}
                                        </select>
                                    
                                        <button type="submit" id="submit2">Apply Filter</button>
                                    </form>
                                    <div class="card-body">
                                        <div id="plotly-chart">
                                            <script>
                                                const chartHtml = {{ chart_html|safe }}
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                
              
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; Blackcoffer </p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="https://www.linkedin.com/in/rupesh-borse/">Rupesh Borse</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'ssets/js/main.js' %}"></script>

   

        

</body>

</html>
{% endblock %}